#image-place-holder img:first-child {
	position: absolute;
	left: 0;
	z-index: 10;
}

#image-place-holder img {
  position:relative;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#image-place-holder img.top:hover {
  opacity:0;
}

body 
  .photoball{
    position:absolute;
    top:-100px;
    left:0px;
    z-index:10;
    position:block;
    border-width: 100;
  
  -webkit-transform: translateZ(0); 
  border-top-left-radius: 50%; 
  border-top-right-radius: 50%; 
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  }

label{
  
  color: deeppink;
}